$font-stack: Helvética Georgia sans-serif;

$mobile-device:320px;
$tablet-device:768px;
$desktop-device:1024px;


$green-gradient:#40d662;
$blue-gradient:#6767d6;
$grey-gradient:#8a8484;


$mobile:(

	'h2':40px,
	'li':20px

	)




