@import 'variables';


@mixin GetBackground($value){

		background-color: $value;

}

@mixin GetDimension($w,$h){

		width: $w;
		height: $h;
}

@mixin GetMargin($a,$b,$c,$d){

		margin: $a $b $c $d;
}

@mixin GetPadding($a,$b,$c,$d){

		padding: $a $b $c $d;
	
}

@mixin GetColor($cssvalue,$color){

	@if ($cssvalue == background){
		background-color: $color;

	}@else if ($cssvalue == text){
		color: $color;
	}
}

@mixin GetFontSize($device,$tag){

	font-size: map-get($fonts-size,$device,$tag);

}


